.gform-icon--ct-klaviyo:before {
	content: " ";
	width: 24px;
	height: 24px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 204.8 138.1' style='enable-background:new 0 0 204.8 138.1' xml:space='preserve'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='102.413' y1='138.125' x2='102.413' y2='0'%3E%3Cstop offset='0' style='stop-color:%23a7b3b7'/%3E%3Cstop offset='1' style='stop-color:%23242748'/%3E%3C/linearGradient%3E%3Cpath d='M4.2 62.5 96 1.7c4-2.3 8.9-2.3 12.9 0l91.8 60.8c3.6 1.8 5.2 6.1 3.4 9.8-.7 1.5-1.9 2.7-3.4 3.4l-12.3 8.1C158.3 36.3 95.5 22.2 48 52.2 35.3 60.3 24.5 71 16.4 83.8L4 75.7C.4 73.8-1 69.4.8 65.8c.8-1.4 2-2.6 3.4-3.3zm98.1-.7c-26.3.1-50.8 13.6-64.8 35.9l21.1 14c14.5-24.1 45.8-31.8 69.8-17.3 7.1 4.3 13 10.2 17.3 17.3l21.1-14c-13.8-22.4-38.2-36-64.5-35.9zm0 50.8c-9.3.1-17.8 5.1-22.4 13.2l14.2 9.3c2.3 2 5.2 3 8.2 3s6-1.1 8.2-3l14.2-9.3c-4.5-8.2-13.1-13.2-22.4-13.2z' style='fill:url(%23a)'/%3E%3C/svg%3E");
}